.p-header {
  background: linear-gradient(90deg, rgb(4, 166, 241), rgb(1, 106, 200));
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$pc} {
    height: 134px;
  }
}