.p-weather {
  &--today {
    &__days {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media #{$pc} {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
      }
    }
  }
  &--week {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @media #{$pc} {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
      }
    }
  }
}