.c-weather {
  width: 100%;
  text-align: center;
  background-color: $bgColorWhite;
  border-radius: 0 0 7px 7px;

  &.is-today {
    @media #{$pc} {
      width: 64.5%;
    }
  }
  &.is-tomorrow {
    @media #{$pc} {
      width: 33.9%;
    }
  }
  &.is-week {
    background-color: $bgColorOdd;
    @media #{$pc} {
      width: 18.4%;
    }
  }

  &__temp {
    &--wrapper {
      display: flex;
      justify-content: center;
    }
    &--left {
      color: $textred1;
    }
    &--right {
      color: $textBlue1;
    }
  }
  &__chanceOfRain {
    display: flex;
    justify-content: center;
    gap: 8px;
    .time, 
    .rain {
      text-align: center;
    }
  }
}