.c-weather {
  width: 100%;
  text-align: center;
  background-color: $bgColorWhite;
  border-radius: 0 0 7px 7px;

  &.is-today {
    @media #{$pc} {
      width: 58.3%;
    }
  }

  &.is-tomorrow {
    @media #{$pc} {
      width: 40%;
    }
  }

  &.is-week {
    background-color: $bgColorOdd;

    @media #{$pc} {
      width: 18.4%;
    }
  }

  &__weather {
    padding: 22px 0 5px 0;
  }

  &__img {
    &>img {
      padding-bottom: 19px;
    }
  }

  &__temp {
    &--wrapper {
      display: flex;
      justify-content: center;
      gap: 16px;
      padding-bottom: $basePadding;

      .max,
      .min {
        font-size: $fontSizeLv2;
        font-weight: $fontWeightBold;
        line-height: 1.5;
        .celsius {
          font-size: $fontSizeLv3;
          font-weight: $fontWeightNormal;
          padding-left: 0.5rem;
        }
      }
    }

    &--left {
      color: $textred1;
    }

    &--right {
      color: $textBlue1;
    }
  }

  &__chanceOfRain {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: $basePadding;

    &-index {
      padding-right: 15px;
    }

    .time,
    .rain {
      text-align: center;
      line-height: 1.5;
    }
  }
}